In [3]:
person = {
    'first': "Yehya",
    'last': 'Ali',
    'email': 'y@gmail.com'
}

In [4]:
people = {
    'first': ["Yehya", "Alaa", "Ebrahim"],
    'last': ['Ali', "Mohamed", "Ali"],
    'email': ['y@gmail.com', 'a@gmail.com', 'e@gmail.com']
}

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

     first     last        email
0    Yehya      Ali  y@gmail.com
1     Alaa  Mohamed  a@gmail.com
2  Ebrahim      Ali  e@gmail.com

In [8]:
people['email']

['y@gmail.com', 'a@gmail.com', 'e@gmail.com']

In [9]:
df['email']

0    y@gmail.com
1    a@gmail.com
2    e@gmail.com
Name: email, dtype: object

In [12]:
df.email

0    y@gmail.com
1    a@gmail.com
2    e@gmail.com
Name: email, dtype: object

In [13]:
type(df['email'])

pandas.core.series.Series

In [14]:
df[ ['last', 'email'] ]

      last        email
0      Ali  y@gmail.com
1  Mohamed  a@gmail.com
2      Ali  e@gmail.com

In [15]:
type(df[ ['last', 'email'] ])

pandas.core.frame.DataFrame

In [16]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [23]:
df

     first     last        email
0    Yehya      Ali  y@gmail.com
1     Alaa  Mohamed  a@gmail.com
2  Ebrahim      Ali  e@gmail.com

In [22]:
df.iloc[0]

first          Yehya
last             Ali
email    y@gmail.com
Name: 0, dtype: object

In [24]:
df.iloc[ [0, 1] ]

   first     last        email
0  Yehya      Ali  y@gmail.com
1   Alaa  Mohamed  a@gmail.com

In [25]:
df.iloc[[0, 1], 2 ]

0    y@gmail.com
1    a@gmail.com
Name: email, dtype: object

In [26]:
df

     first     last        email
0    Yehya      Ali  y@gmail.com
1     Alaa  Mohamed  a@gmail.com
2  Ebrahim      Ali  e@gmail.com

In [27]:
df.loc[0]

first          Yehya
last             Ali
email    y@gmail.com
Name: 0, dtype: object

In [28]:
df.loc[[0, 1]]

   first     last        email
0  Yehya      Ali  y@gmail.com
1   Alaa  Mohamed  a@gmail.com

In [33]:
df.loc[ [0, 1], ['email', 'last'] ]

         email     last
0  y@gmail.com      Ali
1  a@gmail.com  Mohamed

In [51]:
df

               first     last
email
y@gmail.com    Yehya      Ali
a@gmail.com     Alaa  Mohamed
e@gmail.com  Ebrahim      Ali

In [52]:
df.index

Index(['y@gmail.com', 'a@gmail.com', 'e@gmail.com'], dtype='object', name='email')

In [54]:
df.loc['y@gmail.com']

first    Yehya
last       Ali
Name: y@gmail.com, dtype: object

In [55]:
df.loc[0]

KeyError: 0

In [58]:
df.reset_index(inplace=True)

In [59]:
df

   index        email    first     last
0      0  y@gmail.com    Yehya      Ali
1      1  a@gmail.com     Alaa  Mohamed
2      2  e@gmail.com  Ebrahim      Ali

In [60]:
df

   index        email    first     last
0      0  y@gmail.com    Yehya      Ali
1      1  a@gmail.com     Alaa  Mohamed
2      2  e@gmail.com  Ebrahim      Ali

In [61]:
filt = df['first'] == 'Yehya'

In [62]:
df[filt]

   index        email  first last
0      0  y@gmail.com  Yehya  Ali

In [ ]:
df.columns = ['first_name', 'last_name', 'email']

In [ ]:
df.columns = [x.upper() for x in df.columns]

In [ ]:
df.columns = df.columns.str.replace(' ', '_')

In [ ]:
df.rename(columns={'firtsname':'f', 'ss':"s"}, inplace=True)

In [ ]:
df.loc[2] = ['aa', 'aa', 'a@']

In [2]:
df

NameError: name 'df' is not defined

In [ ]:



india_df.to_json('path', orient='records', lines=True)